<div style="padding:13px" fxLayout="row" fxLayoutGap="5px">
    <button mat-icon-button (click)="toggleMenu()" *ngIf="(navDrawMode$ | async) != 'side'">
        <mat-icon *ngIf="(navState$ | async) == 'opened'">close</mat-icon>
        <mat-icon *ngIf="(navState$ | async) == 'closed'">menu</mat-icon>
    </button>
    <div>
        test
    </div>
    <div fxFlex="2 1 auto">
        space
    </div>
    <button mat-icon-button>
        <mat-icon matTooltip="Refresh"
                  fontSet="material-icons-two-tone"
                  style="margin-left: auto;"
                  (click)="reReadConfig();">
            refresh
        </mat-icon>
    </button>
    <div style="width: 50px">
    </div>
    <button mat-icon-button *ngIf="(navState$ | async) == 'opened'; else overTmpl">
        <mat-icon fontSet="material-icons-two-tone"
                  style="margin-left: auto;"
                  (click)="setNavState('closed');">
            toggle_on
        </mat-icon>
    </button>
    <button mat-icon-button *ngIf="!(isAuthenticated$ | async); else logoutTmpl">
        <mat-icon matTooltip="Login"
                  fontSet="material-icons-two-tone"
                  style="margin-left: auto;"
                  (click)="login();">
            login
        </mat-icon>
    </button>
    <theme-picker></theme-picker>
</div>


<!-- -->

<ng-template #overTmpl>
    <button mat-icon-button>
        <mat-icon fontSet="material-icons-two-tone"
                  style="margin-left: auto;"
                  (click)="setNavState('opened');">
            toggle_off
        </mat-icon>
    </button>
</ng-template>

<ng-template #logoutTmpl>
    <button mat-icon-button>
        <mat-icon matTooltip="Logout"
                  fontSet="material-icons-two-tone"
                  style="margin-left: auto;"
                  (click)="logout();">
            logout
        </mat-icon>
    </button>
</ng-template>
