<div style="padding:2px; display: flex; flex-direction: row; gap: 0 5px">
    <button mat-icon-button (click)="toggleMenu()" *ngIf="(navDrawMode$ | async) != 'side'">
        <mat-icon *ngIf="(navState$ | async) == 'opened'">close</mat-icon>
        <mat-icon *ngIf="(navState$ | async) == 'closed'">menu</mat-icon>
    </button>
    <div>
        testing
    </div>
    <div style="flex-grow: 2">
        space
    </div>
    <div *ngIf="(userData$ | async) as userData">user data: {{userData | json }}</div>
    <button mat-icon-button
            aria-label="Refresh"
            matTooltip="Refresh">
        <mat-icon fontSet="material-icons-two-tone"
                  style="margin-left: auto;"
                  (click)="reReadConfig();">
            refresh
        </mat-icon>
    </button>
    <div style="width: 50px">
    </div>
    <button mat-icon-button
            aria-label="close Menu"
            matTooltip="close Menu"
            *ngIf="(navState$ | async) == 'opened'; else toggleOffTemplate"
            (click)="setNavState('closed');">
        <mat-icon fontSet="material-icons-outlined"
                  style="margin-left: auto;">
            toggle_on
        </mat-icon>
    </button>
    <button mat-icon-button
            aria-label="Login"
            matTooltip="Login"
            *ngIf="!(isAuthenticated$ | async); else logoutTemplate"
            (click)="login();">
        <mat-icon fontSet="material-icons-two-tone"
                  style="margin-left: auto;">
            login
        </mat-icon>
    </button>
    <button mat-icon-button
            aria-label="Register"
            matTooltip="Register"
            *ngIf="!(isAuthenticated$ | async)"
            (click)="register();">
        <mat-icon fontSet="material-icons-outlined"
                  style="margin-left: auto;">
            how_to_reg
        </mat-icon>
    </button>
    <theme-picker></theme-picker>
</div>


<!-- -->

<ng-template #toggleOffTemplate>
    <button mat-icon-button
            aria-label="open Menu"
            matTooltip="open Menu"
            (click)="setNavState('opened');">
        <mat-icon fontSet="material-icons-outlined"
                  style="margin-left: auto;">
            toggle_off
        </mat-icon>
    </button>
</ng-template>

<ng-template #logoutTemplate>
    <button mat-icon-button
            aria-label="Logout"
            matTooltip="Logout"
            (click)="logout();">
        <mat-icon fontSet="material-icons-two-tone"
                  style="margin-left: auto;">
            logout
        </mat-icon>
    </button>
</ng-template>
