@use 'node_modules/@angular/material/index' as mat;
@use 'src/styles/app-theme';

// Define the light theme.
$_primary: mat.define-palette(mat.$deep-purple-palette);
$_accent:  mat.define-palette(mat.$amber-palette, A200, A100, A400);
$_theme: mat.define-light-theme($_primary, $_accent);
$is-dark: false;

@include mat.all-component-themes($_theme);
@include app-theme.theme($_theme);
