@use '@angular/material' as mat;
@use 'src/styles/app-theme';
@use 'src/app/components/header/header.component-theme' as header;
@use 'src/app/app.component-theme' as app;
@use 'src/app/components/menu/menu.component-theme' as menu;
@use 'src/app/components/footer/footer.component-theme' as footer;

$_primary: mat.define-palette(mat.$pink-palette);
$_accent: mat.define-palette(mat.$blue-grey-palette);
$_warn: mat.define-palette(mat.$red-palette);

$_theme: mat.define-dark-theme((
    color: (
        primary: $_primary,
        accent: $_accent,
        warn: $_warn,
    )
));

@include mat.all-component-themes($_theme);
@include app-theme.theme($_theme);
@include header.theme($_theme);
@include app.theme($_theme);
@include menu.theme($_theme);
@include footer.theme($_theme);
