<div fxFlexFill fxLayout="column">
    <app-notification></app-notification>

    <app-header fxFlex="none" class="app-header" style="border:3px solid green;">
    </app-header>

    <mat-sidenav-container fxFlex *ngIf="matDrawerMode$ | async as matDrawerMode" (backdropClick)="closeNavigation(matDrawerMode)">
        <mat-sidenav [mode]="matDrawerMode"
                     opened="{{(navState$ | async) == 'opened'}}"
                     (keydown.escape)="closeNavigation(matDrawerMode)"
                     disableClose>
            <div class="app-menu"
                 style="border: 3px solid blue"
                 [style.width]="menuWidth">
            </div>
        </mat-sidenav>
        <mat-sidenav-content>
            <div style="border: 3px solid red">
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>

    <div fxFlex="none" class="app-footer" style="border:3px solid yellow;">
    </div>
</div>
