<div fxFlexFill fxLayout="column">
    <app-notification></app-notification>

    <div fxFlex="none" class="app-header" style="border:3px solid green;">
    </div>

    <mat-sidenav-container fxFlex *ngIf="navPosition$ | async as navPosition">
        <mat-sidenav [mode]="navPosition" opened="{{(navState$ | async) == 'opened'}}">
            <div class="app-menu"
                 style="border: 3px solid blue"
                 [style.width]="menuWidth">
            </div>
        </mat-sidenav>
        <mat-sidenav-content>
            <div style="border: 3px solid red">
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>

    <div fxFlex="none" class="app-footer" style="border:3px solid yellow;">
    </div>
</div>
