<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta content="noindex, nofollow" name="robots">
    <title>Bounce</title>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <script th:href="@{/js/main.js}"></script>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
</head>
<body>
<div tiles:fragment="content">
    Bounce
</div>
</body>
</html>
