.gradle
.idea
.run

/charon.db.mv.db

/etc/secrets/setup_env.bash
/etc/setup/cloudflare-api-token.txt
/etc/setup/cluster.txt
/etc/setup/credentials.txt
/etc/setup/gpg-passphrase.txt

/frontend/.angular/
/frontend/.node/
/frontend/dist
/frontend/node_modules/

application-local.yml
build
/etc/http-client.private.env.json
/hs_err_*
/frontend/package-lock.json
/etc/archi/docker-compose.yml
