# Ignore Gradle project-specific cache directory
.gradle
.idea

# Ignore Gradle build output directory
build

/frontend/node_modules/
/frontend/.angular/
/frontend/.node/
/frontend/dist


/etc/credentials.txt
