@use 'sass:map';
@use '@angular/material' as mat;

// see: https://github.com/angular/material.angular.io/blob/main/src/_app-theme.scss
// Styles for the docs app that are based on the current theme.
@mixin theme($theme) {
    $primary: map.get($theme, primary);
    $accent: map.get($theme, accent);
    $warn: map.get($theme, warn);
    $background: map.get($theme, background);
    $foreground: map.get($theme, foreground);
    $is-dark-theme: map.get($theme, is-dark);

    a {
        color: mat.get-color-from-palette($foreground, text);
    }
}
