@use 'node_modules/@angular/material/index' as mat;
@use 'src/app-theme';

// Define the dark theme.
$_primary: mat.define-palette(mat.$pink-palette);
$_accent:  mat.define-palette(mat.$blue-grey-palette);
$_theme: mat.define-dark-theme($_primary, $_accent);

@include mat.all-component-themes($_theme);
@include app-theme.theme($_theme);
