<ng-container *ngIf="currentTheme$ | async as currentTheme">

    <button mat-icon-button (click)="toggleDarkMode(currentTheme)" matTooltip="Toggle Theme">
        <mat-icon>{{currentTheme.variant}}_mode</mat-icon>
    </button>

    <button mat-icon-button [mat-menu-trigger-for]="themeMenu" aria-label="Select a theme"
            matTooltip="Select a theme">
        <mat-icon>format_color_fill</mat-icon>
    </button>

    <mat-menu #themeMenu="matMenu" xPosition="before" class="docs-theme-picker-menu">
        <button mat-menu-item *ngFor="let theme of themes" (click)="selectTheme(currentTheme, theme.name)">
            <ng-container *ngIf="(currentTheme$ | async)?.name != theme.name; else currentThemeRadio">
                <mat-icon>radio_button_unchecked</mat-icon>
            </ng-container>
            <span>{{theme.displayName}}</span>
            <mat-icon [class]="'theme-example-icon ' + theme.name">theme-example</mat-icon>
        </button>
    </mat-menu>

    <ng-template #currentThemeRadio>
        <mat-icon [ngClass]="'docs-theme-selected-icon'" [color]="'accent'">radio_button_checked</mat-icon>
    </ng-template>

</ng-container>
