<app-page header="Home">

        <mat-card>
            <mat-card-content>
                <div *ngIf="buildProperties$ | async as buildProperties; else loadingBuildProperties">
                    Name: {{buildProperties["name"]}} <br/>
                    Version: {{buildProperties["version"]}} <br/>
                    Timestamp: {{buildProperties["timestamp"]}} <br/>
                </div>
                <ng-template #loadingBuildProperties>
                    Waiting for BuildProperties from backend...
                </ng-template>
            </mat-card-content>
        </mat-card>
        <br/>
        <mat-card>
            <mat-card-content>
                <div *ngIf="userData$ | async as userData; else loadingUserData">
                    userData: {{userData}} <br/>
                </div>
                <ng-template #loadingUserData>
                    Userdata not available.
                </ng-template>
            </mat-card-content>
        </mat-card>


</app-page>
