<app-page header="Home">

        <mat-card>
            <mat-card-content>
                <div *ngIf="buildProperties$ | async as buildProperties; else loadingBuildProperties">
                    name: {{buildProperties["name"]}} <br/>
                    version: {{buildProperties["version"]}} <br/>
                    timestamp: {{buildProperties["timestamp"]}} <br/>
                </div>
                <ng-template #loadingBuildProperties>
                    Waiting for BuildProperties from backend...
                </ng-template>
            </mat-card-content>
        </mat-card>
        <br/>
        <mat-card>
            <mat-card-content>
                <div *ngIf="isAuthenticated$ | async as isAuthenticated; else loadingIsAuthenticated">
                    authenticated: {{isAuthenticated}} <br/>
                </div>
                <ng-template #loadingIsAuthenticated>
                    not authenticated
                </ng-template>
            </mat-card-content>
        </mat-card>
    <br/>
    <mat-card>
        <mat-card-content>
            <div *ngIf="userName$ | async as userName; else loadingUsername">
                name: {{userName}} <br/>
            </div>
            <ng-template #loadingUsername>
                not authenticated
            </ng-template>
        </mat-card-content>
    </mat-card>


</app-page>
