<mat-nav-list *ngIf="matDrawerMode$ | async as matDrawerMode">
    <ng-container *ngFor="let item of menuItems">
        <a *ngIf="isVisible(item)"
           mat-list-item
           (click)="closeNavigation(matDrawerMode)"
           [routerLinkActive]="['is-active']"
           [routerLink]="[item.route]">
            <mat-icon class="material-icons-outlined">
                {{item.icon}}</mat-icon>
            <span class="menu-caption">{{item.title}}</span>
        </a>
    </ng-container>
</mat-nav-list>

