<app-page header="Protected" style="display: flex; flex-direction: column; flex-grow: 1;">

    <br/>

    <mat-card>
        <mat-card-content>

                protected content

        </mat-card-content>
    </mat-card>

    <br/>

    <mat-card *ngIf="randomData$ | async as randomData;">
        <mat-card-content>
            <div>
                value: {{randomData.value}} <br/>
                value: {{randomData.expire}} <br/>
            </div>
        </mat-card-content>
    </mat-card>

    <br/>


    <mat-card>
        <mat-card-content>
            <fit-sources-grid/>
        </mat-card-content>
    </mat-card>

    <br/>

</app-page>
