<app-page header="Protected" style="display: flex; flex-direction: column; flex-grow: 1;">

    <br/>

    <mat-card *ngIf="data$ | async as data;">
        <mat-card-content>
            <div *ngIf="data.isLoading">
                loading...
            </div>
            <div *ngIf="data.isError">
                failed to load data
            </div>
            <div *ngIf="!data.isError && !data.isLoading && !!(data.protectedData)">
                value: {{data.protectedData.value}} <br/>
                expire: {{data.protectedData.expire}} <br/>
            </div>
        </mat-card-content>
    </mat-card>

    <br/>


    <mat-card>
        <mat-card-content>
            <fit-sources-grid/>
        </mat-card-content>
    </mat-card>

    <br/>

</app-page>
