
<mat-card *ngIf="selectFitnessDataItem$ | async as selectFitnessDataItem;">
    <mat-card-content>
        <div class="flex-element">
            id: {{selectFitnessDataItem.id}} <br/>
            name: {{selectFitnessDataItem.name}} <br/>
            <br/>
            <br/>
        </div>
        <div class="flex-element">
            <br/>
            <mat-date-range-input [rangePicker]="picker">
                <input matStartDate placeholder="Start date" (dateChange)="beginChanged($event)" >
                <input matEndDate placeholder="End date" (dateChange)="endChanged($event)" >
            </mat-date-range-input>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
        </div>

        <svg id="chart2" (resized)="onResized($event)"></svg>

    </mat-card-content>
</mat-card>

