<div style="padding:13px" fxLayout="row" fxLayoutGap="5px">
    <div>
        test
    </div>
    <div fxFlex="2 1 auto">
        space
    </div>
    <button mat-icon-button>
        <mat-icon matTooltip="Refresh"
                  fontSet="material-icons-two-tone"
                  style="margin-left: auto;"
                  (click)="reReadConfig();">
            refresh
        </mat-icon>
    </button>
    <div style="width: 50px">
    </div>
    <button mat-icon-button *ngIf="!(isAuthenticated$ | async)">
        <mat-icon matTooltip="Login"
                  fontSet="material-icons-two-tone"
                  style="margin-left: auto;"
                  (click)="authorize();">
            login
        </mat-icon>
    </button>
    <theme-picker> </theme-picker>
    <button mat-icon-button *ngIf="(isAuthenticated$ | async)">
        <mat-icon matTooltip="Logout"
                  fontSet="material-icons-two-tone"
                  style="margin-left: auto;"
                  (click)="logout();">
            logout
        </mat-icon>
    </button>
</div>
