<div style="background: yellow; padding:13px" fxLayout="row" fxLayoutGap="5px">
    <div>
        test
    </div>
    <div fxFlex="2 1 auto">
        space
    </div>
    <div>
        <mat-icon matTooltip="Refresh"
                  fontSet="material-icons-two-tone"
                  style="margin-left: auto; cursor: pointer;"
                  (click)="reReadConfig();">
            refresh
        </mat-icon>
    </div>
    <div style="width: 50px">
    </div>
    <div *ngIf="!(isAuthenticated$ | async)">
        <mat-icon matTooltip="Login"
                  fontSet="material-icons-two-tone"
                  style="margin-left: auto; cursor: pointer;"
                  (click)="authorize();">
            login
        </mat-icon>
    </div>
    <div *ngIf="(isAuthenticated$ | async)">
        <mat-icon matTooltip="Logout"
                  fontSet="material-icons-two-tone"
                  style="margin-left: auto; cursor: pointer;"
                  (click)="logout();">
            logout
        </mat-icon>
    </div>
</div>
