<div style="background: yellow" >
    <button (click)="login()">Click here to login</button>
    <button (click)="logout()">Click here to logout</button>
    <mat-icon>pie_chart</mat-icon>
    <mat-icon fontSet="material-icons-outlined">pie_chart</mat-icon>
    <mat-icon fontSet="material-icons-round">pie_chart</mat-icon>
    <mat-icon fontSet="material-icons-sharp">pie_chart</mat-icon>
    <mat-icon fontSet="material-icons-two-tone">pie_chart</mat-icon>
    test
    <mat-icon fontSet="material-icons-two-tone" style="margin-left: auto;">login</mat-icon>
</div>
