// https://material.angular.io/guide/theming
// https://github.com/angular/material.angular.io/blob/main/src/styles.scss
@use '@angular/material' as mat;
@use './app-theme';

// fonts and icons to avoid using a CDN
@import 'material-icons/iconfont/material-icons.scss';
@import '@fontsource/roboto'; // Defaults to weight 400.

// Define the light theme.
$_primary: mat.define-palette(mat.$indigo-palette);
$_accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$_theme: mat.define-light-theme($_primary, $_accent);




@include mat.core();

@include mat.all-component-themes($_theme);
@include app-theme.theme($_theme);





html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


