<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta content="noindex, nofollow" name="robots">
    <title>Error</title>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <script th:href="@{/js/main.js}"></script>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
</head>
<body>
<div tiles:fragment="content">
    <table>
        <tr>
            <td>Date</td>
            <td th:text="${timestamp}"/>
        </tr>
        <tr>
            <td>Path</td>
            <td th:text="${path}"/>
        </tr>
        <tr>
            <td>Error</td>
            <td th:text="${error}"/>
        </tr>
        <tr>
            <td>Status</td>
            <td th:text="${status}"/>
        </tr>
        <tr>
            <td>Message</td>
            <td th:text="${message}"/>
        </tr>
        <tr>
            <td>Exception</td>
            <td th:text="${exception}"/>
        </tr>
        <tr>
            <td>Trace</td>
            <td>
                <pre th:text="${trace}"/>
            </td>
        </tr>
    </table>
</div>
</body>
</html>
