<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="robots" content="noindex, nofollow">
    <title th:text="#{label.forms.home.title}">Home</title>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@48,400,0,0"/>
    <script th:href="@{/js/main.js}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<div tiles:fragment="content">
    <h1 th:text="#{label.forms.home.title}">Home</h1>
</div>
</body>
</html>
