<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
</head>
<body>
<div tiles:fragment="content">
    <form name="f" th:action="@{/login}" method="post">
        <div class="group">
            <input type="text"><span class="highlight"></span><span class="bar"></span>
            <label>Name</label>
        </div>
        <div class="group">
            <input type="email"><span class="highlight"></span><span class="bar"></span>
            <label>Email</label>
        </div>
        <button type="button" class="button buttonBlue">Subscribe
            <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
        </button>
    </form>
</div>
</body>
</html>
