<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="robots" content="noindex, nofollow">
    <title>Login</title>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <script th:href="@{/js/main.js}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<script type="text/javascript">
    window.onload = function() {
        setTimeout(() => {
            const usernameField = document.getElementById('username');
            usernameField.focus();
        }, 5);
    };
</script>
<div tiles:fragment="content">
    <form name="f" th:action="@{/login}" method="post">
        <div th:if="${param.error}" class="alert alert-error group">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}" class="alert alert-success group">
            You have been logged out.
        </div>
        <div class="group">
            <input autocomplete="username" type="text" id="username" name="username"
                   onfocus="if(this.value){this.classList.add('used')}else{this.classList.remove('used')}"
                   onblur="if(this.value){this.classList.add('used')}else{this.classList.remove('used')}">
            <span class="highlight"></span><span class="bar"></span>
            <label for="username">Name</label>
        </div>
        <div class="group">
            <input autocomplete="current-password" type="password" id="password" name="password"
                   onfocus="if(this.value){this.classList.add('used')}else{this.classList.remove('used')}"
                   onblur="if(this.value){this.classList.add('used')}else{this.classList.remove('used')}">
            <span class="highlight"></span><span class="bar"></span>
            <label for="password">Password</label>
        </div>
        <button type="submit" class="button buttonBlue ripple">
            Login
        </button>
    </form>
</div>
</body>
</html>

