<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="robots" content="noindex, nofollow">
    <title th:text="#{label.forms.login.title}">Login</title>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <script th:href="@{/js/main.js}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<script type="text/javascript">
    window.onload = function() {
        setTimeout(() => {
            const usernameField = document.getElementById('username');
            usernameField.focus();
            const inputFields = document.getElementsByTagName('input');
            for (let i = 0; i < inputFields.length; i++) {
                if (inputFields[i].value) {
                    inputFields[i].classList.add('used');
                } else {
                    inputFields[i].classList.remove('used');
                }
            }
        }, 5);
    };
</script>
<div tiles:fragment="content">
    <form name="f" th:action="@{/login}" method="post">
        <h1 th:text="#{label.forms.login.title}">Login</h1>
        <div th:if="${param.error}" class="alert alert-error group">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}" class="alert alert-success group">
            You have been logged out.
        </div>
        <div class="group">
            <input id="username" name="username" type="text" autocomplete="username"
                   onfocus="if(this.value){this.classList.add('used')}else{this.classList.remove('used')}"
                   onblur="if(this.value){this.classList.add('used')}else{this.classList.remove('used')}">
            <span class="highlight"></span><span class="bar"></span>
            <label for="username" th:text="#{label.user.username}">Name</label>
        </div>
        <div class="group">
            <input id="password" name="password" autocomplete="current-password" type="password"
                   onfocus="if(this.value){this.classList.add('used')}else{this.classList.remove('used')}"
                   onblur="if(this.value){this.classList.add('used')}else{this.classList.remove('used')}">
            <span class="highlight"></span><span class="bar"></span>
            <label for="password" th:text="#{label.user.password}">Password</label>
        </div>
        <button type="submit" class="button buttonBlue ripple" th:text="#{label.forms.login.submit}">
            Login
        </button>
    </form>
</div>
<div class="footer">
    <a href="register" th:text="#{label.forms.register.title}">Register</a>
    <a href="home" th:text="#{label.forms.home.title}">Home</a>
    <a href="/oauth2/authorization/google-idp">Google Login</a>
</div>
</body>
</html>

