<div>
    <div class="table-container">

        <mat-table [dataSource]="fitSourcesDataSource">

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectRow(row)"></tr>

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>id</th>
                <td mat-cell *matCellDef="let row">{{ row.id }}</td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>name</th>
                <td mat-cell *matCellDef="let row">{{ row.name }}</td>
            </ng-container>

            <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef>type</th>
                <td mat-cell *matCellDef="let row">{{ row.type }}</td>
            </ng-container>

            <ng-container matColumnDef="dataTypeName">
                <th mat-header-cell *matHeaderCellDef>dataTypeName</th>
                <td mat-cell *matCellDef="let row">{{ row.dataTypeName }}</td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let row">
                    <button mat-icon-button
                            aria-label="View"
                            matTooltip="View"
                            (click)="viewDetails(row.id);">
                        <mat-icon fontSet="material-icons-outlined"
                                  style="margin-left: auto;">
                            visibility
                        </mat-icon>
                    </button>
                </td>
            </ng-container>

        </mat-table>

    </div>
</div>
